# all
/*


# some test files
test
hello.txt
*.tar.*
*.wasm

# whitelist
!/.git*
!/Readme*.md
!/src
!/License
!/Cargo.toml
!/Cargo.lock
!/locales
!/assets
!/core
!/get-lxc
# !/.cargo
#---------

# rust cache
target

# Only for testing.
ignore.rs
test.*
